{% extends "firewall/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">New Firewall Request</legend>
            {{ firewallrequest_form|crispy }}
        </fieldset>
        <fieldset class="form-group">
            <table class="table-responsive table-sm">
                <thead>
                    <tr>
                        <th>Source IP</th>
                        <th>Source Host</th>
                        <th>Source Port</th>
                        <th>Destination IP</th>
                        <th>Destination Host</th>
                        <th>Destination Port</th>
                        <th>Protocol</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th>{{ firewallrule_form.source_ip }}</th>
                    <th>{{ firewallrule_form.source_host }}</th>
                    <th>{{ firewallrule_form.source_port }}</th>
                    <th>{{ firewallrule_form.destination_ip }}</th>
                    <th>{{ firewallrule_form.destination_host }}</th>
                    <th>{{ firewallrule_form.destination_port }}</th>
                    <th>{{ firewallrule_form.protocol }}</th>
                </tr>
                </tbody>
            </table>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Submit Request</button>
        </div>
</form>
</div>

{% endblock content %}